.container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
  align-items: center;
  width: 418px;
  margin: 20px auto;
}

.image {
  width: 130px;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  margin-right: 20px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #000;
}

.description {
  font-size: 12px;
  color: #000;
  font-weight: 300;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  font-size: 14px;
  padding: 8px 16px;
  color: black;
  background-color: #d9d9d9;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 
    color 0.3s cubic-bezier(0.25, 1.0, 0.5, 1.0),
    transform 0.3s cubic-bezier(0.25, 1.0, 0.5, 1.0),
    background-color 0.3s cubic-bezier(0.25, 1.0, 0.5, 1.0);

  &:hover {
    background-color: #bafff8;
    transform: scale(1.05);
  }
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 15px;
    max-width: 100%;
    margin: 20px auto;
    text-align: left; /* Align text to the left */
  }

  .image {
    width: 270px; /* Larger width for image */
    height: 270px; /* Square height for image */
    margin-bottom: 15px;
    margin-right: 0;
    object-fit: cover; /* Cover the entire square area */
    border-radius: 10px;
    align-self: center; /* Center the image within its container */
  }  

  .textContainer {
    padding-left: 20px; /* Remove margin */
    padding-right: 20px;
    width: 100%; /* Take full width */
  }

  .title {
    font-size: 16px; /* Slightly larger font for title */
    font-weight: 600;
    margin-bottom: 5px;
  }

  .description {
    font-size: 14px; /* Larger font for better readability */
    margin-bottom: 15px;
  }

  .button {
    font-size: 14px; /* Larger button font */
    padding: 8px 16px;
  }
}
