.navbar {
  background-color: #000;
  color: white;
  padding: 0.4rem 2rem;
  z-index: 1000;

  .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .logoContainer {
      display: flex;
      align-items: center;

      .logoImage {
        border-radius: 50%;
      }

      .logoText {
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .clubName {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .universityName {
          font-size: 0.8rem;
        }
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;

      .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
      }

      &:hover .bar {
        background-color: #bafff8;
      }
    }

    .navMenu {
      display: flex;
      gap: 2rem;
      list-style: none;

      .navItem {
        list-style: none;

        .navLink {
          font-size: 1.1rem;
          color: white;
          transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);

          &:hover {
            color: #bafff8;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .container {
      .logoText {
        .clubName {
          display: none;
        }
        .universityName {
          display: none;
        }
      }

      .hamburger {
        display: flex;
      }

      .navMenu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: black;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.25, 1, 0.5, 1);

        &.active {
          height: 70px;
        }

        .navLink {
          font-size: 1.1rem;
          color: white;
          transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);

          &:hover {
            color: #bafff8;
          }
        }
      }
    }
  }
}
