.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
    align-items: center;
    width: 418px;
    margin: 20px auto;
}

.image {
    width: 160px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
    flex-grow: 0;
}

.textContainer {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    height: 2em;
    width: 100%;
    margin-bottom: 10px;
    color: #000;
}

.description {
    height: 100%;
    flex-shrink: 1;
    flex-grow: 0;
}

.button {
    font-size: 14px;
    padding: 8px 16px;
    color: black;
    background-color: #d9d9d9;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:hover {
    background-color: #bafff8;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 16px;
    }

    .description {
        font-size: 12px;
    }

    .button {
        font-size: 12px;
        padding: 8px 16px;
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        max-width: 100%;
        margin: 20px auto;
        text-align: left;
    }

    .image {
        width: 270px;
        height: 270px;
        margin-bottom: 15px;
        margin-right: 0;
        object-fit: cover;
        border-radius: 10px;
        align-self: center;
    }

    .textContainer {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .description {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.skeleton {
    background: #e0e0e0;
    position: relative;
    overflow: hidden;
    border-radius: 4px; // Optional, for rounded skeleton effect

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -150%; // Start the animation off-screen
        height: 100%;
        width: 150%;
        background: linear-gradient(90deg,
                rgba(224, 224, 224, 0) 0%,
                rgba(197, 197, 197, 0.8) 50%,
                rgba(224, 224, 224, 0) 100%);
        animation: skeleton-wave 1.5s infinite;
    }
}

@keyframes skeleton-wave {
    0% {
        left: -150%;
    }

    100% {
        left: 100%;
    }
}