/* Main Navbar styling */

.navbar {
  background-color: #000;
  color: white;
  padding: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Container to centre content and limit width */
.container {
  max-width: 900px; /* Adjust this value to the width you want */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* Optional padding */
}

/* Logo container holding both the image and text */
.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  border-radius: 50%; /* Make the logo circular */
}

.logoText {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clubName {
  font-size: 1.5rem;
  font-weight: bold;
}

.universityName {
  font-size: 1rem;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Nav Menu */
.navMenu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navItem {
  list-style: none;
  font-family: 'Inter', sans-serif;
}

.navLink {
  font-size: 1.1rem;
  color: white; /* Default text colour */
  transition: color 0.3s cubic-bezier(0.25, 1.0, 0.5, 1.0); /* Transition for hover effect */
}
 .navLink:hover {
  color: #bafff8; /* Change text colour to light blue on hover */
}


/* Responsive for smaller screens */
@media (max-width: 900px) {
  /* Hide the text when screen is less than 900px */
  .logoText {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navMenu {
    position: absolute;
    top: 60px;
    left: 0; /* Aligns menu to the left */
    width: 100%;
    height: 0; /* Initial height is 0 */
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    overflow: hidden; /* Prevents overflow when closed */
    transition: height 0.5s cubic-bezier(0.25, 1.0, 0.5, 1.0); /* Slower transition */
  }

  .navMenu.active {
    height: 200px; /* Expands to full height when active */
  }

  .navLink {
    font-size: 1.1rem;
    color: white; /* Default text colour */
    transition: color 0.3s cubic-bezier(0.25, 1.0, 0.5, 1.0); /* Transition for hover effect */
  }
   .navLink:hover {
    color: #bafff8; /* Change text colour to light blue on hover */
  }
}
